
* {
  box-sizing: border-box;
}

body{
  @include font-opensans;
  
  &.fixed-menu-open{
    overflow: hidden;
  }
}

button{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
  }
}


svg{
  padding: 0;
  margin: 0;
}

