// == Mixins ==
@mixin font-opensans{
  font-family: 'Open Sans', sans-serif;
}

@mixin font-raleway{
  font-family: 'Raleway', sans-serif;
}

@mixin cover(){
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

// == Media Query ==

@mixin desktopHd {
	@media screen and (max-width: $desktopHd) {
		@content;
	}
}

@mixin desktop {
	@media screen and (max-width: $desktop) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}
